body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--main-text-color);
}
:root { --main-text-color: #212121;
--secondary-text-color: #757575;
--accent: #2196F3;
--white: #ffffff; 
--black: #000000;
--team-section-color:#F5F4FA;
--section-color: #2F303A;
--btn-color: #F5F4FA;
--footer-background-color:#2F303A;
}

/* studio styles */
/* ------------------------header styles------------------------------ */

.header{
background: var(--white);
}

.logo-link{
font-family: Raleway;
color: var(--black);
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
}

.web{
  color: var(--accent);
}

.link{
  text-decoration: none;
}

.current{
  color: var(--accent);
}

.btn{
  cursor: pointer;
  font-family: inherit;
} 


.ul{ 
  list-style: none;
}

.header-nav, .header-contacts {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--main-text-colo);
}

.header-mail, .header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1calc(16/14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus, 
.header-mail:hover, 
.header-mail:focus, 
.header-tel:hover, 
.header-tel:focus {
  color: var(--accent);
}

/* ------------------------section styles------------------------------ */

.section {
 width: 1600px;
  background: var(--section-color);
}

.section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60/44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);  
}

.section-btn {
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-text-color);
}
.section-btn:hover,
.section-btn:focus{
  background: var(--accent);
  color: var(--btn-color);
}
/* ------------------------about styles------------------------------ */

.about-title {
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.about-sutitle {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ------------------------aside styles------------------------------ */

.aside-title {
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------------------------team styles------------------------------ */

.team {
  background: var(--team-section-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-item-sutitle {
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* ------------------------footer styles------------------------------ */

.footer {
  background: var(--footer-background-color);
}
.logo-footer-link{
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31/16);
  letter-spacing: 0.03em;
  color: var(--white);
} 
.address-link{
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--white);
}

.contact-link {
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address-link:hover, 
.address-link:focus,
.contact-link:hover,
.contact-link:focus{
  color: var(--accent);
}

/* profile styles */
/* ------------------------ styles------------------------------ */

.btn-portfolio {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: var(--btn-color);
  border-radius: 4px;
  cursor: pointer;}


.btn-portfolio:hover,
.btn-portfolio:focus{
  background: var(--accent);
  color: var(--btn-color);
}


/* ------------------------content styles------------------------------ */

.content-title {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 603px;
  font-style: normal;
  font-size: 18px;
  line-height: calc(36/18);
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.content-subtitle{
  width: 322px;
  height: 30px;
  left: 239px;
  top: 643px;
  font-style: normal;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}